<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FastAPI Dashboard{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
  <header class="py-4 text-center border-bottom bg-light mb-4">
    <div class="container">
      <h1 class="logo">Пошук заблокованих доменів</h1>
    </div>
  </header>

  <!-- Меню -->
  <nav class="container mb-4">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'domain' %}active{% endif %}" href="{{ url_for('domain') }}">🔒 Заблоковані домени</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'history' %}active{% endif %}" href="{{ url_for('history') }}">🕓 Історія завантажень</a>
      </li>
    </ul>
  </nav>

  <main class="container mb-5">
    {% block content %}{% endblock %}
  </main>

  <footer class="text-center text-muted py-3 border-top">
    © 2025 Search blocked sites FastAPI
  </footer>

  {% block scripts %}{% endblock %}
</body>
</html>
