{% extends "base.html" %}
{% set active_tab = 'domain' %}
{% block title %}Головна — FastAPI Dashboard{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5>Заблоковані домени</h5>
    <button id="exportExcelBtn" class="btn btn-success btn-sm">Експорт в Excel</button>
  </div>

  <table class="table table-striped mt-4">
      <thead class="table-primary">
        <tr>
          <th>Домен</th>
          <th>IP адреса</th>
          <th>Список</th>
        </tr>
      </thead>
      <tbody id="domainTable"></tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center" id="pagination"></ul>
  </nav>
</div>
{% endblock %}

<!--{% block scripts %}-->
<!--<script src="{{ url_for('static', path='js/domain.js') }}"></script>-->
<!--{% endblock %}-->
