{% extends "base.html" %}
{% set active_tab = 'domain-search' %}
{% block title %}Пошук назві домену— FastAPI Dashboard{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">
  <div class="row g-3 align-items-center">
    <div class="col-md-8 col-sm-12">
      <input id="inputValue" type="text" class="form-control" placeholder="Введіть домен або ip адресу...">
    </div>
    <div class="col-md-4 col-sm-12">
      <button id="submitBtn" class="btn btn-primary w-100">Пошук</button>
    </div>
  </div>
</div>

<table class="table table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th>Домен</th>
      <th>IP адреса</th>
      <th>Список</th>
    </tr>
  </thead>
  <tbody id="resultsTable"></tbody>
</table>

{% block scripts %}
<script src="{{ url_for('static', path='js/domainSearch.js') }}"></script>
{% endblock %}

{% endblock %}


